*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 body{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .relogio{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 200px;
     width: 550px;
     background: transparent;
 }
 
 .relogio div{
     height: 170px;
     width: 150px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     letter-spacing: 3px;
 
 }
 .relogio span{
     font-weight: bolder;
     font-size: 100px;
 }
 .relogio span.tempo {
     font-size: 25px;
 }
 
 /* styles.css */
 
 /* Estilos gerais */
 body {
     transition: background-color 0.3s, color 0.3s;
 }
 
 #toggle-mode {
     padding: 10px 20px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     transition: background-colsor 0.5, color 0.5s;
     border-radius: 9px;
     position: absolute;
     top: 700px;
     left: 800px;
 }
 
 /* Modo Claro */
 body.light-mode {
     background-color: white;
     color: black;
 }
 
 body.light-mode button {
     background-color: black;
     color: white;
 }
 
 /* Modo Escuro */
 body.dark-mode {
     background-color: black;
     color: white;
 }
 
 body.dark-mode button {
     background-color: white;
     color: black;
 }
 #toggle-music-button{
     padding: 10px 20px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     transition: background-colsor 0.3, color 0.3s;
     border-radius: 9px;
     position: absolute;
     top: 700px;
     left: 1000px;
 }